@keyframes wiggleAnimation{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(25deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

#main{
    margin-top:46px;
    padding: 1rem;
    height: auto;
    width: 100%;
    text-align: center;
    font-family: cursive;
}

.socials{
    padding: inherit;
}

.socials p {
    margin-bottom: 1rem;
}

img{
    height:50px;
}

img:hover{
    animation: wiggleAnimation 0.2s 2 linear;    
}

.socials a {
    height: auto;
    width: auto;
    display: contents;
}

.contentSlider{
    width:auto;
    height:100px;
    background-color:skyblue;
}