* {
    margin:0;
    padding:0;
}

.header{
    height:46px;
    z-index: 99;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
}
ul {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
li a {
  color: white;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.about {
  background-color: forestgreen; /*04AA6D*/
}

.main{
    font-family: cursive;
    height: auto;
    margin: 1rem;
    margin-top:46px;
    text-align: center;
    width: auto;
}